{% extends 'base.html' %}

{% block header %}
  <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;" id="detailed-post-header">
    <h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
    {% if g.user %}
      <a href="{{ url_for('blog.like_post', post_id=post['id']) }}">
        <i class="fa-{% if user_liked %}solid{% else %}regular{% endif %} fa-heart"></i>
      </a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <p>{{ post['body'] }}</p>
  <hr>
  <a href="{{ url_for('blog.index') }}">Back</a>
{% endblock %}